html,
body,
#reactapp,
.Site {
	height: 100%;
	color: #fff;
}
.Site {
	display: flex;
	height: 100vh;
}

.translucent{
	background: #0004;
}

.divider {
	background-color:#34be5b;
	bottom:-5%;
	top:-5%;
	z-index:1;
	transform:skew(-5deg);
	display: inline-block;
	width: 0.5em;
	margin: 0 0.5em;
	height: 100%;
}

h3{
	color: #bddbc5;
}

.mh-full-page{
	min-height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: top center;
	background-color: #28292a;
}